<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.mtms.mapper.AddressMapper">

  <select id="getAdressInfo" resultType="com.dili.mtms.domain.Address">
      select
          id,
          gender
      from address
      where id in (#{shipperAddressId},#{deliveryAddressId})
  </select>

  <select id="listAddress" parameterType="com.dili.mtms.domain.Address" resultType="com.dili.mtms.domain.Address">
      select
          a.id,
          a.firm_id as firmId,
          a.customer_id as customerId,
          a.content,
          a.contact_name as contactName,
          a.gender,
          a.cellphone,
          a.is_default as isDefault,
          a.city_id as cityId,
          a.city_name as cityName,
          a.create_time as createTime
      from address a
      where a.firm_id = #{firmId}
      and a.customer_id = #{customerId}
  </select>

  <select id="getDefaultAddress" parameterType="com.dili.mtms.domain.Address" resultType="com.dili.mtms.domain.Address">
       select
            a.id,
            a.firm_id as firmId,
            a.customer_id as customerId,
            a.content,
            a.contact_name as contactName,
            a.gender,
            a.cellphone,
            a.is_default as isDefault,
            a.city_id as cityId,
            a.city_name as cityName,
            a.create_time as createTime
       from address a
       where a.firm_id = #{firmId}
       and a.customer_id = #{customerId}
       and a.is_default = 1
  </select>

  <update id="updateIsdefaultAddress" parameterType="com.dili.mtms.domain.Address">
        update address set is_default = 0 where firm_id = #{firmId} and customer_id = #{customerId} and id != #{id}
  </update>

  <insert id="insertAddress" parameterType="com.dili.mtms.domain.Address" useGeneratedKeys="true" keyProperty="id">
        insert into address(firm_id,
                            customer_id,
                            content,
                            contact_name,
                            gender,
                            cellphone,
                            is_default,
                            city_id,
                            city_name,
                            create_time)
        values (#{firmId},
                #{customerId},
                #{content},
                #{contactName},
                #{gender},
                #{cellphone},
                #{isDefault},
                #{cityId},
                #{cityName},
                now())
  </insert>
</mapper>