<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.mtms.mapper.LoadingOrderMapper">

    <!--订单失效处理-->
    <update id="orderFailure" parameterType="java.lang.String">
        update loading_order s set s.state = 4,s.invalid_time = now() where s.id = #{id} and s.state = 1
    </update>

    <!--确认接单 -->
    <update id="confirmLoadingOrder" parameterType="com.dili.mtms.domain.LoadingOrder">
        update loading_order s
        <set>
            <if test="takerId != null">
                s.taker_id = #{takerId},
            </if>

            <if test="takerName != null">
                s.taker_name = #{takerName},
            </if>

            <if test="takerCellphone != null">
                s.taker_cellphone = #{takerCellphone},
            </if>
                s.state = 2,
                s.take_time = now()
        </set>
        where s.id = #{id}  and s.state = 1
    </update>

    <!--订单完成 -->
    <update id="loadingComplete" parameterType="com.dili.mtms.domain.LoadingOrder">
        update loading_order s set s.state = 3,s.complete_time = now() where s.id = #{id} and s.state = 2
    </update>

    <!--取消装卸单 -->
    <update id="loadingCancel" parameterType="com.dili.mtms.domain.LoadingOrder">
        update loading_order s set s.state = 5,s.cancel_time = now() where s.id = #{id} and s.state = 1
    </update>

    <!-- pc装卸列表-->
    <select id="listByQueryParams" parameterType="com.dili.mtms.dto.LoadingOrderQuey" resultType="com.dili.mtms.dto.LoadingOrderQuey">
        SELECT
        s.id AS id,
        s.shipper_name AS shipperName,
        s.shipper_cellphone AS shipperCellphone,
        s.code AS code,
        s.service_time AS serviceTime,
        s.service_type AS serviceType,
        s.offer AS offer,
        s.address AS address,
        s.state AS state,
        s.create_time AS createTime
        FROM
        loading_order s
        where
        s.firm_id = #{firmId}
        <if test="state !=null and state != 0">
            AND s.state = #{state}
        </if>

        <if test="code !=null and code != ''">
            AND s.code like '%${code}%'
        </if>

        <if test="shipperName !=null and shipperName != ''">
            AND s.shipper_name like '%${shipperName}%'
        </if>

        <if test="shipperCellphone !=null and shipperCellphone != ''">
            AND s.shipper_cellphone like '%${shipperCellphone}%'
        </if>

        <if test="orderTime != null and orderTime !=''">
            AND s.create_time <![CDATA[>]]> #{orderStartTime} AND s.create_time <![CDATA[<]]> #{orderEndTime}
        </if>

        <if test="serveTime != null and serveTime != ''">
            AND s.service_time <![CDATA[>]]> #{serviceStartTime} AND s.service_time <![CDATA[<]]> #{serviceEndTime}
        </if>
    </select>


    <delete id="deleteLoadingOrderItem">
        delete from loading_order_item where loading_order_id = #{id}
    </delete>

    <delete id="deleteLoadingOrder">
        delete from loading_order where id = #{id} and (state = 4 or state = 5)
    </delete>

    <!-- 装卸单-详情-->
    <select id="loadingDetail" parameterType="java.lang.Long" resultMap="LoadingDetail">
        SELECT
            s.id,
            s.code,
            s.shipper_name,
            s.shipper_cellphone,
            s.taker_name,
            s.taker_cellphone,
            s.offer,
            s.state,
            s.address,
            s.service_time,
            s.service_type,
            s.create_time,
            s.take_time,
            s.notes,
            t.goods_name,
            t.number,
            t.weight_type,
            t.unit_weight,
            t.total_weight
        FROM
            loading_order s left join loading_order_item t on s.id = t.loading_order_id
        where
            s.id = #{id}
    </select>
    <resultMap id="LoadingDetail" type="com.dili.mtms.dto.LoadingOrderQuey">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="shipper_name" property="shipperName"/>
        <result column="shipper_cellphone" property="shipperCellphone"/>
        <result column="taker_name" property="takerName"/>
        <result column="taker_cellphone" property="takerCellphone"/>
        <result column="offer" property="offer"/>
        <result column="state" property="state"/>
        <result column="address" property="address"/>
        <result column="service_time" property="serviceTime"/>
        <result column="service_type" property="serviceType"/>
        <result column="create_time" property="createTime"/>
        <result column="take_time" property="takeTime"/>
        <result column="notes" property="notes"/>

        <collection property="loadingItem" ofType="com.dili.mtms.domain.LoadingOrderItem"  >
            <result column="goods_name" property="goodsName"/>
            <result column="number" property="number"/>
            <result column="weight_type" property="weightType"/>
            <result column="unit_weight" property="unitWeight"/>
            <result column="total_weight" property="totalWeight"/>
        </collection>
    </resultMap>

    <!-- 买卖端-装卸-新增item-->
    <insert id="insertLoadingItem">
        insert into loading_order_item(loading_order_id,goods_name,weight_type,number,unit_weight,total_weight,create_time) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{id},#{item.goodsName},#{item.weightType},#{item.number},#{item.unitWeight},#{item.totalWeight},now())
        </foreach>
    </insert>

    <!-- 买卖端-装卸-新增loading-->
    <insert id="insertLoading" useGeneratedKeys="true" keyProperty="id" parameterType="com.dili.mtms.dto.LoadingOrderQuey">
        insert into loading_order(code,
                                  shipper_name,
                                  shipper_cellphone,
                                  address,
                                  service_type,
                                  service_time,
                                  offer,
                                  notes,
                                  firm_id,
                                  code,
                                  state,
                                  create_time
        ) values (#{code},
                  #{shipperName},
                  #{shipperCellphone},
                  #{address},
                  #{serviceType},
                  #{serviceTime},
                  #{offer},
                  #{notes},
                  #{firmId},
                  #{code},
                  #{state},
                  now()
                 )
    </insert>
  <!-- 买卖端-装卸-列表-->
  <select id="loadingList" parameterType="com.dili.mtms.dto.LoadingOrderQuey" resultMap="LoadingOrder">
       select
              l.id,
              l.address,
              l.state,
              l.shipper_cellphone,
              l.service_time,
              l.create_time,
              i.goods_name,
              i.total_weight
       from loading_order l left join loading_order_item i on l.id = i.loading_order_id
       where l.firm_id = #{firmId}
      <if test="status != null and status == 1 ">
          AND l.state = 1
      </if>

      <if test="status != null and status == 2 ">
          AND l.state = 2 or l.state = 3
      </if>
  </select>
  <resultMap id="LoadingOrder" type="com.dili.mtms.dto.LoadingOrderQuey">
    <id column="id" property="id"/>
    <result column="address" property="address"/>
    <result column="state" property="state"/>
    <result column="shipper_cellphone" property="shipperCellphone"/>
    <result column="service_time" property="serviceTime"/>
    <result column="create_time" property="createTime"/>

    <collection property="loadingItem" ofType="com.dili.mtms.domain.LoadingOrderItem"  >
     <!-- <id column="item_id" property="itemId"/>-->
      <result column="goods_name" property="goodsName"/>
      <result column="total_weight" property="totalWeight"/>
    </collection>
  </resultMap>
</mapper>