<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.mtms.mapper.LoadingOrderMapper">
  <resultMap id="BaseResultMap" type="com.dili.mtms.domain.LoadingOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="shipper_id" jdbcType="BIGINT" property="shipperId" />
    <result column="shipper_name" jdbcType="VARCHAR" property="shipperName" />
    <result column="shipper_cellphone" jdbcType="VARCHAR" property="shipperCellphone" />
    <result column="taker_id" jdbcType="BIGINT" property="takerId" />
    <result column="offer" jdbcType="BIGINT" property="offer" />
    <result column="firm_id" jdbcType="BIGINT" property="firmId" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="service_time" jdbcType="TIMESTAMP" property="serviceTime" />
    <result column="service_type" jdbcType="TINYINT" property="serviceType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime" />
    <result column="take_time" jdbcType="TIMESTAMP" property="takeTime" />
    <result column="invalid_time" jdbcType="TIMESTAMP" property="invalidTime" />
    <result column="complete_time" jdbcType="TIMESTAMP" property="completeTime" />
    <result column="close_time" jdbcType="TIMESTAMP" property="closeTime" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, code, shipper_id, shipper_name, shipper_cellphone, taker_id, offer, firm_id, 
    state, address, service_time, service_type, create_time, cancel_time, take_time, 
    invalid_time, complete_time, close_time, notes
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from loading_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.mtms.domain.LoadingOrder">
    <!--
      WARNING - @mbg.generated
    -->
    update loading_order
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="shipperId != null">
        shipper_id = #{shipperId,jdbcType=BIGINT},
      </if>
      <if test="shipperName != null">
        shipper_name = #{shipperName,jdbcType=VARCHAR},
      </if>
      <if test="shipperCellphone != null">
        shipper_cellphone = #{shipperCellphone,jdbcType=VARCHAR},
      </if>
      <if test="takerId != null">
        taker_id = #{takerId,jdbcType=BIGINT},
      </if>
      <if test="offer != null">
        offer = #{offer,jdbcType=BIGINT},
      </if>
      <if test="firmId != null">
        firm_id = #{firmId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="serviceTime != null">
        service_time = #{serviceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serviceType != null">
        service_type = #{serviceType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelTime != null">
        cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="takeTime != null">
        take_time = #{takeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalidTime != null">
        invalid_time = #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeTime != null">
        complete_time = #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null">
        close_time = #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>