<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.mtms.mapper.TransportOrderMapper">

    <!--确认接单 -->
    <update id="confirmTransportOrder" parameterType="com.dili.mtms.domain.TransportOrder">
        update transport_order s
        <set>
            <if test="takerId != null">
                s.taker_id = #{takerId},
            </if>

            <if test="takerName != null">
                s.taker_name = #{takerName},
            </if>

            <if test="takerCellphone != null">
                s.taker_cellphone = #{takerCellphone},
            </if>
            s.state = 2,
            s.take_time = now()
        </set>
        where s.id = #{id}  and s.state = 1
    </update>

    <!--完成订单 -->
    <update id="transportComplete" parameterType="com.dili.mtms.domain.TransportOrder">
        update transport_order s set s.state = 3,s.complete_time = now() where s.id = #{id} and s.state = 2
    </update>

    <!--取消运输单 -->
    <update id="transportCancel" parameterType="com.dili.mtms.domain.TransportOrder">
        update transport_order s set s.state = 4,s.cancel_time = now() where s.id = #{id} and s.state = 1
    </update>

    <delete id="deleteTransporOrderItem" parameterType="com.dili.mtms.domain.TransportOrder">
        delete from transport_order_item where transport_order_id = #{id}
    </delete>

    <delete id="deleteTransporOrder" parameterType="com.dili.mtms.domain.TransportOrder">
        delete from transport_order where id = #{id} and (state = 4 or state = 5)
    </delete>

    <!--买卖端运输详情 -->
    <select id="transportDetail" parameterType="java.lang.Long" resultMap="TransportDetail">
        SELECT
            s.id,
            s.shipper_name,
            s.shipper_cellphone,
            s.shipper_address,
            s.delivery_name,
            s.delivery_cellphone,
            s.delivery_address,
            s.vehicle_type,
            s.vehicle_number,
            s.service_time,
            s.notes,
            s.code,
            s.offer,
            s.state,
            s.taker_name,
            s.taker_cellphone,
            s.take_time,
            s.create_time,
            t.unit_weight,
            t.number,
            t.goods_name,
            t.weight_type,
            t.total_weight
        FROM
            transport_order s left join transport_order_item t on s.id = t.transport_order_id
        where
            s.id = #{id}
    </select>
    <resultMap id="TransportDetail" type="com.dili.mtms.dto.TransportOrderQuey">
        <id column="id" property="id"/>
        <result column="shipper_name" property="shipperName"/>
        <result column="shipper_cellphone" property="shipperCellphone"/>
        <result column="shipper_address" property="shipperAddress"/>
        <result column="delivery_name" property="deliveryName"/>
        <result column="delivery_cellphone" property="deliveryCellphone"/>
        <result column="delivery_address" property="deliveryAddress"/>
        <result column="vehicle_type" property="vehicleType"/>
        <result column="vehicle_number" property="vehicleNumber"/>
        <result column="service_time" property="serviceTime"/>
        <result column="notes" property="notes"/>
        <result column="code" property="code"/>
        <result column="offer" property="offer"/>
        <result column="state" property="state"/>
        <result column="taker_name" property="takerName"/>
        <result column="taker_cellphone" property="takerCellphone"/>
        <result column="take_time" property="takeTime"/>
        <result column="create_time" property="createTime"/>

        <collection property="transportItem" ofType="com.dili.mtms.domain.TransportOrderItem"  >
<!--            <id column="item_id" property="itemId"/>-->
            <result column="goods_name" property="goodsName"/>
            <result column="unit_weight" property="unitWeight"/>
            <result column="number" property="number"/>
            <result column="weight_type" property="weightType"/>
            <result column="total_weight" property="totalWeight"/>
        </collection>
    </resultMap>

  <!--买卖端新增运输单项 -->
  <insert id="insertTransportItem">
     insert into transport_order_item(transport_order_id,goods_name,weight_type,number,unit_weight,total_weight,create_time) values
      <foreach collection="list" item="item" index="index" separator=",">
        (#{id},#{item.goodsName},#{item.weightType},#{item.number},#{item.unitWeight},#{item.totalWeight},now())
      </foreach>
  </insert>

  <!--买卖端新增运输单 -->
  <insert id="insertTransport" useGeneratedKeys="true" keyProperty="id"
          parameterType="com.dili.mtms.dto.TransportOrderQuey">
     insert into transport_order(shipper_name,
                                 shipper_cellphone,
                                 shipper_address,
                                 delivery_name,
                                 delivery_cellphone,
                                 delivery_address,
                                 vehicle_type,
                                 vehicle_number,
                                 service_time,
                                 offer,
                                 firm_id,
                                 state,
                                 notes,
                                 create_time
     ) values (#{shipperName},
               #{shipperCellphone},
               #{shipperAddress},
               #{deliveryName},
               #{deliveryCellphone},
               #{deliveryAddress},
               #{vehicleType},
               #{vehicleNumber},
               #{serviceTime},
               #{offer},
               #{firmId},
               1,
               #{notes},
               now()
               )
  </insert>
  <!--买卖端运输单列表 -->
  <select id="transportList" parameterType="com.dili.mtms.dto.TransportOrderQuey" resultMap="Transport">
    SELECT
      s.id,
      s.state,
      s.shipper_address,
      s.shipper_cellphone,
      s.delivery_address,
      s.offer,
      s.service_time,
      s.create_time,
      t.goods_name,
      t.weight_type,
      t.number,
      t.unit_weight,
      t.total_weight
    FROM
      transport_order s left join transport_order_item t on s.id = t.transport_order_id
    where
      s.firm_id = #{firmId}
      <if test="status != null and status == 1 ">
          AND s.state = 1
      </if>

      <if test="status != null and status == 2 ">
          AND s.state = 2 or s.state = 3
      </if>
    order by s.create_time desc
  </select>

  <resultMap id="Transport" type="com.dili.mtms.dto.TransportOrderQuey">
    <id column="id" property="id"/>
    <result column="state" property="state"/>
    <result column="shipper_address" property="shipperAddress"/>
    <result column="shipper_cellphone" property="shipperCellphone"/>
    <result column="delivery_address" property="deliveryAddress"/>
    <result column="offer" property="offer"/>
    <result column="service_time" property="serviceTime"/>
    <result column="create_time" property="createTime"/>

    <collection property="transportItem" ofType="com.dili.mtms.domain.TransportOrderItem"  >
<!--      <id column="item_id" property="itemId"/>-->
      <result column="goods_name" property="goodsName"/>
      <result column="weight_type" property="weightType"/>
      <result column="number" property="number"/>
      <result column="unit_weight" property="unitWeight"/>
      <result column="total_weight" property="totalWeight"/>
    </collection>
  </resultMap>

  <!--PC运输单列表 -->
  <select id="listByQueryParams" parameterType="com.dili.mtms.dto.TransportOrderQuey" resultType="com.dili.mtms.dto.TransportOrderQuey">
    SELECT
      s.id AS id,
      s.code AS code,
      s.shipper_name AS shipperName,
      s.shipper_cellphone AS shipperCellphone,
      s.delivery_name AS deliveryName,
      s.delivery_cellphone AS deliveryCellphone,
      s.offer AS offer,
      s.state AS state,
      s.vehicle_type AS vehicleType,
      s.service_time AS serviceTime,
      s.notes AS notes,
      s.create_time AS createTime
    FROM
      transport_order s
    where
      s.firm_id = #{firmId}
    <if test="state !=null and state != 0">
      AND s.state = #{state}
    </if>

    <if test="code !=null and code != ''">
          AND s.code like '%${code}%'
    </if>

    <if test="shipperName !=null and shipperName != ''">
          AND s.shipper_name like '%${shipperName}%'
    </if>

    <if test="shipperCellphone !=null and shipperCellphone != ''">
          AND s.shipper_cellphone like '%${shipperCellphone}%'
    </if>

    <if test="orderTime != null and orderTime !=''">
      AND s.create_time <![CDATA[>]]> #{orderStartTime} AND s.create_time <![CDATA[<]]> #{orderEndTime}
    </if>

    <if test="serveTime != null and serveTime != ''">
      AND s.service_time <![CDATA[>]]> #{serviceStartTime} AND s.service_time <![CDATA[<]]> #{serviceEndTime}
    </if>

  </select>
  
  <!--<resultMap id="Transport" type="com.dili.mtms.dto.TransportOrderQuey">
    <id column="id" property="id"/>
    <result column="shipper_name" property="shipperName"/>

    <collection property="transportItem" ofType="com.dili.mtms.domain.TransportOrderItem"  >
      <id column="id" property="id"/>
      <result column="goods_name" property="goodsName"/>
    </collection>
  </resultMap>-->

</mapper>