 <#body>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center">
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left">
                <form id="form" class="easyui-form" method="post" fit="true">
                    <table style="padding:10px;">
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="userName" id="userName" style="width:100%" labelAlign="right" data-options="label:'用户名:', validType:'length[0,50]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="password" id="password" style="width:100%" labelAlign="right" data-options="label:'密码:', validType:'length[0,128]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="firmCode" id="firmCode" style="width:100%" labelAlign="right" data-options="label:'归属市场编码:', validType:'length[0,50]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-numberbox" name="departmentId" id="departmentId" style="width:100%" labelAlign="right" data-options="label:'归属部门:', validType:'length[0,19]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="position" id="position" style="width:100%" labelAlign="right" data-options="label:'职位:', validType:'length[0,20]'" />

                            </td>
                        </tr>
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="cardNumber" id="cardNumber" style="width:100%" labelAlign="right" data-options="label:'卡号:', validType:'length[0,30]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="description" id="description" style="width:100%" labelAlign="right" data-options="label:'备注:', validType:'length[0,255]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-datetimebox" name="created" id="created" style="width:100%" labelAlign="right" data-options="label:'创建时间:'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-datetimebox" name="locked" id="locked" style="width:100%" labelAlign="right" data-options="label:'锁定时间:'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-datetimebox" name="modified" id="modified" style="width:100%" labelAlign="right" data-options="label:'修改时间:'" />

                            </td>
                        </tr>
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-numberbox" name="state" id="state" style="width:100%" labelAlign="right" data-options="label:'状态:', validType:'length[0,10]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="realName" id="realName" style="width:100%" labelAlign="right" data-options="label:'真实姓名:', validType:'length[0,20]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="serialNumber" id="serialNumber" style="width:100%" labelAlign="right" data-options="label:'用户编号:', validType:'length[0,128]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="cellphone" id="cellphone" style="width:100%" labelAlign="right" data-options="label:'手机号码:', validType:'length[0,24]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="email" id="email" style="width:100%" labelAlign="right" data-options="label:'邮箱:', validType:'length[0,64]'" />

                            </td>
                        </tr>
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="pushId" id="pushId" style="width:100%" labelAlign="right" data-options="label:'移动端推送id:', validType:'length[0,100]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-datetimebox" name="lastLoginTime" id="lastLoginTime" style="width:100%" labelAlign="right" data-options="label:'最后登录日期:'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-numberbox" name="superiorId" id="superiorId" style="width:100%" labelAlign="right" data-options="label:'上级id:', validType:'length[0,19]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-numberbox" name="positionId" id="positionId" style="width:100%" labelAlign="right" data-options="label:'职位id:', validType:'length[0,19]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-numberbox" name="gender" id="gender" style="width:100%" labelAlign="right" data-options="label:'性别 0:男 1：女:', validType:'length[0,1]'" />

                            </td>
                        </tr>
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="clientCode" id="clientCode" style="width:100%" labelAlign="right" data-options="label:'来源客户端编码:', validType:'length[0,40]'" />

                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left:28px;padding-top: 10px; padding-bottom: 10px;">
                                <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                                   onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清除</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" title="User列表" id="grid" fitColumns="true" noheader="true"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="true" remoteSort="false"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="userName"
                   align="center" fit="true" striped="true" toolbar="#toolbar" idField="id" data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
                <thead>
                    <tr>
                        <th data-options="field:'userName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            用户名
                        </th>
                        <th data-options="field:'password',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            密码
                        </th>
                        <th data-options="field:'firmCode',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            归属市场编码
                        </th>
                        <th data-options="field:'departmentId',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            归属部门
                        </th>
                        <th data-options="field:'position',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            职位
                        </th>
                        <th data-options="field:'cardNumber',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            卡号
                        </th>
                        <th data-options="field:'description',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            备注
                        </th>
                        <th data-options="field:'created',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            创建时间
                        </th>
                        <th data-options="field:'locked',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            锁定时间
                        </th>
                        <th data-options="field:'modified',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            修改时间
                        </th>
                        <th data-options="field:'state',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            状态
                        </th>
                        <th data-options="field:'realName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            真实姓名
                        </th>
                        <th data-options="field:'serialNumber',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            用户编号
                        </th>
                        <th data-options="field:'cellphone',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            手机号码
                        </th>
                        <th data-options="field:'email',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            邮箱
                        </th>
                        <th data-options="field:'pushId',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            移动端推送id
                        </th>
                        <th data-options="field:'lastLoginTime',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            最后登录日期
                        </th>
                        <th data-options="field:'superiorId',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            上级id
                        </th>
                        <th data-options="field:'positionId',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            职位id
                        </th>
                        <th data-options="field:'gender',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            性别 0:男 1：女
                        </th>
                        <th data-options="field:'clientCode',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            来源客户端编码
                        </th>
                    </tr>
                </thead>
            </table>
            <!-- datagrid工具栏 -->
            <div id="toolbar" style="padding:2px 5px;">
                <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="openInsert()" plain="true"></a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="openUpdate()" plain="true"></a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="del()" plain="true"></a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-export" onclick="doExport('grid')" plain="true"></a>
                <div style="float:right">
                边框显示:<select onchange="changeBorder('grid',this.value)">
                    <option value="lines-both">全边框</option>
                    <option value="lines-no">无边框</option>
                    <option value="lines-right">右边框</option>
                    <option value="lines-bottom">下边框</option>
                </select>
                行条纹:<input type="checkbox" checked="checked" onclick="$('#grid').datagrid({striped:$(this).is(':checked')})">
                </div>
            </div>
        </div>
    </div>
    <!-- 隐藏编辑框 -->
    <div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="User信息" style="padding:20px" modal="true" border="thin" closed="true"
         data-options="
				iconCls: 'icon-save',
				height: 480,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				},{
					text:'取消',
					iconCls:'icon-cancel',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <input name="_id" id="_id" type="hidden">
        <table width="360px">
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_userName" id="_userName" style="width:100%" data-options="label:'用户名:', validType:'length[0,50]'" 
                        required="true" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_password" id="_password" style="width:100%" data-options="label:'密码:', validType:'length[0,128]'" 
                        required="true" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_firmCode" id="_firmCode" style="width:100%" data-options="label:'归属市场编码:', validType:'length[0,50]'" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_departmentId" id="_departmentId" style="width:100%" data-options="label:'归属部门:'" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_position" id="_position" style="width:100%" data-options="label:'职位:', validType:'length[0,20]'" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_cardNumber" id="_cardNumber" style="width:100%" data-options="label:'卡号:', validType:'length[0,30]'" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_description" id="_description" style="width:100%" data-options="label:'备注:', validType:'length[0,255]'" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datetimebox" name="_created" id="_created" style="width:100%" editable="false" data-options="label:'创建时间:'" 
                        required="true" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datetimebox" name="_locked" id="_locked" style="width:100%" editable="false" data-options="label:'锁定时间:'" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datetimebox" name="_modified" id="_modified" style="width:100%" editable="false" data-options="label:'修改时间:'" 
                        required="true" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_state" id="_state" style="width:100%" data-options="label:'状态:'" 
                        required="true" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_realName" id="_realName" style="width:100%" data-options="label:'真实姓名:', validType:'length[0,20]'" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_serialNumber" id="_serialNumber" style="width:100%" data-options="label:'用户编号:', validType:'length[0,128]'" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_cellphone" id="_cellphone" style="width:100%" data-options="label:'手机号码:', validType:'length[0,24]'" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_email" id="_email" style="width:100%" data-options="label:'邮箱:', validType:'length[0,64]'" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_pushId" id="_pushId" style="width:100%" data-options="label:'移动端推送id:', validType:'length[0,100]'" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datetimebox" name="_lastLoginTime" id="_lastLoginTime" style="width:100%" editable="false" data-options="label:'最后登录日期:'" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_superiorId" id="_superiorId" style="width:100%" data-options="label:'上级id:'" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_positionId" id="_positionId" style="width:100%" data-options="label:'职位id:'" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_gender" id="_gender" style="width:100%" data-options="label:'性别 0:男 1：女:', validType:'length[0,1]'" />

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_clientCode" id="_clientCode" style="width:100%" data-options="label:'来源客户端编码:', validType:'length[0,40]'" />

                </td>
            </tr>
        </table>
    </form>

    </div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
        //打开新增窗口
        function openInsert(){
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            $('#_form').form('clear');
            formFocus("_form", "_userName");
        }

        //打开修改窗口
        function openUpdate(){
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            formFocus("_form", "_userName");
            var formData = $.extend({},selected);
            formData = addKeyStartWith(getOriginalData(formData),"_");
            $('#_form').form('load', formData);
        }

        function saveOrUpdate(){
            if(!$('#_form').form("validate")){
                return;
            }
            var _formData = removeKeyStartWith($("#_form").serializeObject(),"_");
            var _url = null;
            //没有id就新增
            if(_formData.id == null || _formData.id==""){
                _url = "${contextPath}/user/insert.action";
            }else{//有id就修改
                _url = "${contextPath}/user/update.action";
            }
            $.ajax({
                type: "POST",
                url: _url,
                data: _formData,
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    if(data.code=="200"){
                        $("#grid").datagrid("reload");
                        $('#dlg').dialog('close');
                    }else{
                        $.messager.alert('错误',data.result);
                    }
                },
                error: function(){
                    $.messager.alert('错误','远程访问失败');
                }
            });
        }

        //根据主键删除
        function del() {
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $.messager.confirm('确认','您确认想要删除记录吗？',function(r){
                if (r){
                    $.ajax({
                        type: "POST",
                        url: "${contextPath}/user/delete.action",
                        data: {id:selected.id},
                        processData:true,
                        dataType: "json",
                        async : true,
                        success: function (data) {
                            if(data.code=="200"){
                                $("#grid").datagrid("reload");
                                $('#dlg').dialog('close');
                            }else{
                                $.messager.alert('错误',data.result);
                            }
                        },
                        error: function(){
                            $.messager.alert('错误','远程访问失败');
                        }
                    });
                }
            });

        }
        //表格查询
        function queryGrid() {
            var opts = $("#grid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/user/listPage.action";
            }
            if(!$('#form').form("validate")){
                return;
            }
            $("#grid").datagrid("load", bindGridMeta2Form("grid", "form"));
        }


        //清空表单
        function clearForm() {
            $('#form').form('clear');
        }

        //表格表头右键菜单
        function headerContextMenu(e, field){
            e.preventDefault();
            if (!cmenu){
                createColumnMenu("grid");
            }
            cmenu.menu('show', {
                left:e.pageX,
                top:e.pageY
            });
        }

        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#grid").datagrid("getSelected");
                if(selected && selected!= null){
                    del();
                }
            }
        }

        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            bindFormEvent("form", "userName", queryGrid);
            bindFormEvent("_form", "_userName", saveOrUpdate, function (){$('#dlg').dialog('close');});
            if (document.addEventListener) {
                document.addEventListener("keyup",getKey,false);
            } else if (document.attachEvent) {
                document.attachEvent("onkeyup",getKey);
            } else {
                document.onkeyup = getKey;
            }
            var pager = $('#grid').datagrid('getPager');    // get the pager of treegrid
                pager.pagination({
                    <#controls_paginationOpts/>,
                    buttons:[
                    {
                        iconCls:'icon-add',
                        text:'新增',
                        handler:function(){
                            openInsert();
                        }
                    },
                    {
                        iconCls:'icon-edit',
                        text:'修改',
                        handler:function(){
                            openUpdate();
                        }
                    },
                    {
                        iconCls:'icon-remove',
                        text:'删除',
                        handler:function(){
                            del();
                        }
                    },
                    {
                        iconCls:'icon-export',
                        text:'导出',
                        handler:function(){
                            doExport('grid');
                        }
                    }
                ]
            });
            //表格仅显示下边框
            $('#grid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
            queryGrid();
        })
    </script>
</#body>